body{
    font-family: Roboto,sans-serif;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}
table,th,td{
    border: 1px solid black;
    text-align: center;
}
th,td{
    padding: 1rem;
}
th{
    background-color: lightsalmon;
}
td{
    background-color: lightpink;
}
button{
    cursor: pointer;
}
.add-inputs{
    display: flex;
    justify-content: center;
    margin: 3rem 0 ;
}

.add-inputs input{
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    transition: 0.5s;

}
.add-inputs input:hover{
    border: 2px solid lightpink;
    background-color: lightpink;
    border-radius: 5px;
}

.showHide{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    transition: 0.5s;
}
.showHide:hover{
    border: 2px solid lightpink;
    background-color: lightpink;
    border-radius: 5px;
}

.confirm{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    background-color: lightsalmon;
    color: black;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    transition: 0.5s;
}
.confirm:hover{
    border: 2px solid lightpink;
    background-color: lightpink;
    border-radius: 5px;
}
.editButton{
    margin: 0 5px;
    background-color: lightpink;
    color: black;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    transition: 0.5s;
}
.removeButton{
    background-color: lightpink;
    color: black;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    transition: 0.5s;
}
.editButton:hover{
    border: 2px solid lightpink;
    background-color: lightpink;
    border-radius: 5px;
}
.removeButton:hover{
    border: 2px solid lightpink;
    background-color: lightpink;
    border-radius: 5px;
}